<div th:fragment="sidebar" class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>인사관리시스템</span></li>
				
				<li class="submenu">
					<a href="javascript:void(0);">
						<i class="ti ti-cash"></i>
						<span> 급여 </span>
						<span class="menu-arrow"></span> </a>
					<ul>
						<li><a href="/pay/pay-item">급여 항목 관리</a></li>
						<li><a href="/pay/pay-detail">월별 내역 관리</a></li>
						<li><a href="/pay/pay-rule">계산 규칙 관리</a></li>
						<li><a href="/pay/tax">세율/구간 관리</a></li>
						<li><a href="/pay/backpay-rule">소급 규칙 관리</a></li>
						<li><a href="/pay/pay-cycle">직군별 급여 주기 관리</a></li>
						<li><a href="/pay/base-pay">기준 급여 관리</a></li>
						<li><a href="/pay/standard-hours">월별 소정 근로시간 관리</a></li>
						<li><a href="/pay/standard-hours-employee">사원별 예외 근로시간 관리</a></li>
						<li><a href="/pay/pay-deduct">징계/병가 공제 항목 관리</a></li>
						<li><a href="/pay/step-base">호봉 기준 관리</a></li>
						<li><a href="/pay/bank-account">급여 계좌 관리</a></li>
						<li><a href="/pay/employee-family">사원 가족 정보 관리</a></li>
						<li><a href="/pay/pay-round-history">급여 항목 절사 이력</a></li>
						<li><a href="/pay/pay-certificate">지급명세표 관리</a></li>
						<li><a href="/pay/club-item">사내 회비 항목 관리</a></li>
						<li><a href="/pay/employee-club">사원별 회비 납수 설정</a></li>
						<li><a href="/pay/overtime">근로자별 시간외근무 실적 관리</a></li>
						<li><a href="/pay/calc-order">급여 항목 계산 순서 관리</a></li>
						<li><a href="/pay/allow-cycle">상여금별 계산 주기 관리</a></li>
						<li><a href="/pay/gl-mapping">급여 항목별 회계 계정 매핑 관리</a></li>
					</ul>
				</li>
				<li><a href="#"><i class="ti ti-chart-infographic"></i> <span>평가</span></a></li>
				<li><a href="#"><i class="ti ti-users"></i> <span>인사</span></a></li>
				<li><a href="#"><i class="ti ti-user-off"></i> <span>퇴직</span></a></li>
				<li><a href="#"><i class="ti ti-user-plus"></i> <span>발령</span></a></li>
				<li><a href="#"><i class="ti ti-gift"></i> <span>복리후생</span></a></li>
				<li><a href="#"><i class="ti ti-calendar-time"></i> <span>근태</span></a></li>
				<li><a href="#"><i class="ti ti-building-cottage"></i> <span>휴양소</span></a></li>
				<li><a href="#"><i class="ti ti-sitemap"></i> <span>조직관리</span></a></li>
				<li><a href="#"><i class="ti ti-clipboard-check"></i> <span>결재</span></a></li>
				<li><a href="#"><i class="ti ti-file-text"></i> <span>신청서비스</span></a></li>
				<li><a href="#"><i class="ti ti-file-dollar"></i> <span>연말정산</span></a></li>
				<li><a href="#"><i class="ti ti-settings"></i> <span>공통</span></a></li>
                <li><a href="/pay/pay-item/test"><i class="ti ti-settings"></i> <span>그리드test</span></a></li>
			</ul>
		</div>
	</div>
</div>