<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
    <title>사원 관리</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">검색 조건</h5>
            </div>
            <div class="card-body">
                <form action="/admin/employee-manage" method="get">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">이름/사번</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="ti ti-user"></i>
                                    </span>
                                    <select name="pernr" multiple="multiple" class="form-control" id="searchEmployeeSelect">
	                                	<option th:each="e : ${searchEmployeeList}" th:value="${e.pernr}" th:text="|${e.name} (${e.pernr})|" th:selected="${pernr != null && #lists.contains(pernr, e.pernr)}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label">부서</label>
                                <select class="form-control" name="dutyCode" multiple="multiple" id="searchDutyCodeSelect">
                                    <option value="">전체</option>
                                    <option th:each="d : ${dutyCodeList}" th:value="${d.code}" th:text="${d.name}" th:selected="${dutyCode != null && #lists.contains(dutyCode, d.code)}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label">직급</label>
                                <select class="form-select" name="rankCode" multiple="multiple" id="searchRankCodeSelect">
                                    <option value="">전체</option>
                                    <option th:each="rank : ${rankList}" th:value="${rank.code}" th:text="${rank.name}" th:selected="${rankCode != null && #lists.contains(rankCode, rank.code)}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label">재직 상태</label>
                                <select class="form-select" name="empStatus" multiple="multiple" id="searchEmpStatusSelect">
                                    <option value="">전체</option>
                                    <option th:each="e : ${empStatusList}" th:value="${e.code}" th:text="${e.name}" th:selected="${empStatus != null && #lists.contains(empStatus, e.code)}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary w-100">
                                조회
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">사원 목록</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-vcenter table-hover datatable-resizable w-100" id="dataTable">
                        <thead class="table-light">
                            <tr>
                                <th>사번</th>
                                <th>이름</th>
                                <th>부서</th>
                                <th>직급</th>
                                <th>입사일</th>
                                <th>재직 상태</th>
                                <th class="text-center">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="emp : ${employeeMaster}">
                                <td th:text="${emp.pernr}"></td>
                                <td th:text="${emp.name}"></td>
                                <td th:text="${emp.dutyCode}"></td>
                                <td th:text="${emp.rankCode}"></td>
                                <td th:text="${#temporals.format(emp.entryDate, 'yyyy-MM-dd')}"></td>
                                
                                <td>
                                    <span class="badge bg-success-lt" th:if="${emp.empStatus == '10'}">재직</span>
                                    <span class="badge bg-secondary-lt" th:if="${emp.empStatus == '99'}">퇴직</span>
                                    <span class="badge bg-warning-lt" th:if="${emp.empStatus == '20'}">휴직</span>
                                </td>
                                
                                <td class="text-center">
                                    <button class="btn btn-sm btn-ghost-primary" >
                                        상세보기
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>