<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/base}">

<head>
	<title>테스트 화면 | clsoftlab</title>
</head>

<body>
<div layout:fragment="content">
		<div th:replace= "~{common/sidebar :: sidebar}" >
		</div>
		<div class="page-wrapper">
			<div class="content">

				<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
					<div class="my-auto">
						<h2 class="mb-1">개발 테스트 페이지</h2>
						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Main</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">환영합니다!</h5>
					</div>
					<div class="card-body">
						<p>이 페이지는 개발 테스트를 위한 기본 레이아웃 쉘(Shell)입니다.</p>
						<p>개발 순서는 CLSOFTLAB 문서 순서대로 입니다.(급여 -> 평가-> 인사 -> ...)</p>
						<p>TEST화면이고, 아직 db가 설계되지 않았으므로, 문서에 있는대로 임시 테이블을 만들어서 쓸 예정입니다.</p>
						<p>개발 현황은 README.md에 일자 별로 정리할 예정입니다.</p>
					</div>
				</div>
				</div>

			<footer th:replace="~{common/footer :: footer}"></footer>
		</div>
	</div>
</body>

</html>