<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사원 인사정보 프로파일</title>

    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div id="global-loader">
        <div class="page-loader"></div>
    </div>

    <div class="main-wrapper">

        <div class="header">
            <div class="main-header">
                <div class="header-left"><a href="/" class="logo"><img src="/assets/img/logo.svg" alt="Logo"></a></div>
                <a id="toggle_btn" href="javascript:void(0);" class="btn btn-menubar me-1"><i class="ti ti-arrow-bar-to-left"></i></a>
                <a id="mobile_btn" class="mobile_btn" href="#sidebar"><span class="bar-icon"><span></span><span></span><span></span></span></a>
            </div>
        </div>
        
        <div th:replace="~{common/sidebar :: sidebar}"></div>

        <div class="page-wrapper">
            <div class="content">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">사원 정보 조회</h5>
                    </div>
                    <div class="card-body">
                        <form id="searchForm">
                            <div class="row align-items-end">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>사번</label>
                                        <input type="text" class="form-control" name="pernr" placeholder="사번을 입력하세요">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>이름</label>
                                        <input type="text" class="form-control" name="name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>소속부서 / 직급</label>
                                        <input type="text" class="form-control" name="deptAndGrade" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end gap-2">
                                     <button type="button" class="btn btn-primary w-100" onclick="searchEmployee()"><i class="ti ti-search me-1"></i>조회</button>
                                     <button type="reset" class="btn btn-outline-secondary w-100" id="searchResetBtn"><i class="ti ti-refresh me-1"></i>초기화</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="editDiv" style="display: none;">
                    <div class="card">
                        <div class="card-header"><h5 class="card-title">인사정보 상세</h5></div>
                        <div class="card-body">
                            <form id="editForm">
                            <input hidden="" name="pernr">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">입사일 <span class="text-danger">*</span></label>
                                        <input type="date" class="form-control" name="hireDate">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">고용형태 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="empType">
                                            <option value="REG">정규직</option>
                                            <option value="CON">계약직</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">근무형태 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="workType">
                                            <option value="FULL">전일제</option>
                                            <option value="PART">시간제</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">사업장 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="bizCode">
                                            <option value="HQ01">본사</option>
                                            <option value="FC01">공장</option>
                                            <option value="RND01">연구소</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">소속부서 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="deptCode">
                                            <option value="MGMNT">경영지원팀</option>
                                            <option value="FIN">재무팀</option>
                                            <option value="MKTG">마케팅팀</option>
                                            <option value="HR">인사팀</option>
                                            <option value="DSGN">디자인팀</option>
                                            <option value="CS">고객지원팀</option>
                                            <option value="SALE_A">영업1팀</option>
                                            <option value="SALE_B">영업2팀</option>
                                            <option value="RND_A">연구A팀</option>
                                            <option value="RND_B">연구B팀</option>
                                            <option value="RND_C">연구C팀</option>
                                            <option value="PROD_A">생산A팀</option>
                                            <option value="PROD_B">생산B팀</option>
                                            <option value="QC">품질관리팀</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">직책 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="posCode">
                                             <option value="STAFF">팀원</option>
                                             <option value="TM_LEAD">팀장</option>
                                             <option value="PT_LEAD">파트장</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">직급 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="gradeCode">
                                            <option value="GRD1">사원</option>
                                            <option value="GRD2">대리</option>
                                            <option value="GRD3">과장</option>
                                            <option value="GRD4">차장</option>
                                            <option value="GRD5">부장</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                         <label class="form-label">조직입사일 <span class="text-danger">*</span></label>
                                         <input type="date" class="form-control" name="deptJoin">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">최종발령일자 <span class="text-danger">*</span></label>
                                        <input type="date" class="form-control" name="lastApptDate">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">근무상태 <span class="text-danger">*</span></label>
                                        <select class="form-select" name="empStatus">
                                            <option value="W">재직</option>
                                            <option value="L">휴직</option>
                                            <option value="R">퇴직</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end gap-2">
                                <button type="button" class="btn btn-outline-info">발령 이력 보기</button>
                                <button type="button" class="btn btn-outline-info">조직 이동 이력</button>
                                <button type="button" class="btn btn-outline-info">직급/직책 이력</button>
                                <button type="button" class="btn btn-outline-secondary">이력 비교</button>
                                <button type="button" class="btn btn-primary" onclick="updateEmployeeInfo()"><i class="ti ti-device-floppy me-1"></i>수정사항 저장</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div th:replace="~{common/footer :: footer}"></div>
        </div>
    </div>

    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/js/script.js"></script>
    
    <script type="text/javascript">
    // ========== JavaScript 영역 ==========
    
    	 document.addEventListener('DOMContentLoaded', function () {
	        // [초기화] 버튼 클릭 시, 페이지 전체 상태를 초기화합니다.
	        $("#searchResetBtn").on('click', function() {
	            $("#editDiv").hide();
	        });
	    });
    	
    	 function showEditDiv() {
	        $("#editDiv").show();
	    }
    	
    	// 수정 모달창 데이터 불러오기.
		async function findDetail(id) {
		    try {
		        const response = await fetch(`/hr/employee-info/detail/${id}`);
		        if (!response.ok) {
		            if (response.status === 404) {
		                // 404 Not Found 에러이면 등록되지 않은 사번임
		                alert('등록되지 않은 사번입니다.');
		            } else {
		                // 그 외 다른 서버 에러
		                throw new Error('데이터를 불러오는 데 실패했습니다.');
		            }
		            return; // 함수 종료
		        }
		        
		        const data = await response.json();
		        const editForm = document.getElementById('editForm');
	
	
		        for (const key in data) {
		            const field = editForm.querySelector(`[name="${key}"]`);
		            
		            if (field) { 
	                    field.value = data[key];
		            }
		        }
		        showEditDiv();
		        
		    } catch (error) {
		        console.error('Error:', error);
		        alert(error.message);
		    }
		}
    
		// [조회]버튼 클릭시 상세 정보 확인
		async function searchEmployee() {
	        const searchForm = document.getElementById('searchForm');
	        const pernr = searchForm.querySelector('[name="pernr"]').value;

	        // 사번 입력 여부 확인
	        if (!pernr || !pernr.trim()) {
	            alert('조회할 사번을 입력해주세요.');
	            return;
	        }
	        
	        
	        await findDetail(pernr);
	    }
		
		//항목 정보 수정
		async function updateEmployeeInfo () {
		    const editForm = document.getElementById('editForm');
		    const formData = new FormData(editForm);
		    const data = Object.fromEntries(formData.entries());
		    
		    if (!data.hireDate) {
		        alert('입사일을 입력해 주세요.');
		        return;
		    }
		    
		    if (!data.deptJoin) {
		    	alert('조직 입사일을 입력해주세요.');
		    	return;
		    }
	        
		    if (!data.lastApptDate) {
		    	alert('최종발령일자를 입력해주세요.');
		    	return;
		    }
		    
		    if (data.deptJoin < data.hireDate) {
		    	alert('조직 입사일은 입사일 이후..');
		    	return;
		    }
		    
		    if (data.lastApptDate < data.hireDate) {
		    	alert('최종 발령은 입사일 이후..');
		    	return;
		    }
		    
		    
		    try {
		    	
		        const url = `/hr/employee-info/${data.pernr}`;
		        const response = await fetch(url, {
		            method: 'PUT', 
		            headers: {
		                'Content-Type': 'application/json',
		            },
		            body: JSON.stringify(data),
		        });

		        if (response.ok) {
		            alert('성공적으로 수정되었습니다.');
		            findDetail(data.pernr); // 성공 시 페이지 새로고침
		        } else {
		            const errorText = await response.text();
		            alert(`수정에 실패했습니다: ${errorText}`);
		        }
		    } catch (error) {
		        console.error('Error:', error);
		        alert('수정 중 오류가 발생했습니다.');
		    }
		}
    </script>
</body>
</html>